/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #7234A8, #9935AD);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: linear-gradient(to left, #7234A8, #9935AD);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Typography */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Buttons on the homepage */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

button {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



button:hover {
    background-color: #0056b3;
}

/* Form styling */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 50%;
    margin-bottom: 15px;
}
